Converting Single Quotes to Double Quotes

In [1]:
# Import the json module.
import json
# Assign the string data to a variable. 
data = "{'contact_id': 4661, 'name': 'Cecilia Velasco', 'email': 'cecilia.velasco@rodrigues.fr'}"
data = data.replace("'", '"')
print(data)

# Convert the string data to a dictionary.
converted_data = json.loads(data)
# Iterate through the dictionary (row) and get the values.
row_values = [v for k, v in converted_data.items()]
print(row_values)

# JSONDecodeError: Expecting property name enclosed in double quotes: line 1 column 2 (char 1)
# this means that we need double quotes instead of single quotes around our keys
# solution : add data = data.replace("'", '"')

{"contact_id": 4661, "name": "Cecilia Velasco", "email": "cecilia.velasco@rodrigues.fr"}
[4661, 'Cecilia Velasco', 'cecilia.velasco@rodrigues.fr']

Finding Substrings Without Punctuation as a Guide

In [7]:
# Import the regular expression module.
import re
# Assign the string data to a variable. 
string_data = "contact_id 4661 name Cecilia Velasco email cecilia.velasco@rodrigues.fr"
# Extract the four digit number.
contact_id = re.findall(r'(\d{4})', string_data)
print(contact_id)

# '(d{4})' — The opening and closing parentheses contain the pattern for the capture group.
# '(\d{4})' — The "\d" matches a numerical digit.
# '(\d{4})' — The "{4}" says to match a numerical digit exactly four times.

['4661']

Finding Substrings in Multiple Rows

In [20]:
# Import the Pandas dependency.
import pandas as pd


# Read the contacts string data into a Pandas DataFrame
contacts_string_df = pd.read_csv("contacts_string_data.csv")
contacts_string_df.head()

                                        contact_info
0  contact_id 4661 name Cecilia Velasco email cec...
1  contact_id 3765 name Mariana Ellis email maria...
2  contact_id 4187 name Sofie Woods email sofie.w...
3  contact_id 4941 name Jeanette Iannotti email j...
4  contact_id 2199 name Samuel Sorgatz email samu...

In [14]:
# Extract the four-digit contact ID number.
contacts_string_df['contact_id'] = contacts_string_df['contact_info'].str.extract(r'(\d{4})')
contacts_string_df.head()

                                        contact_info contact_id
0  contact_id 4661 name Cecilia Velasco email cec...       4661
1  contact_id 3765 name Mariana Ellis email maria...       3765
2  contact_id 4187 name Sofie Woods email sofie.w...       4187
3  contact_id 4941 name Jeanette Iannotti email j...       4941
4  contact_id 2199 name Samuel Sorgatz email samu...       2199

In [22]:
# Extract the first and last name after the word "name". 
name = re.findall(r'([^name\s+][A-Za-z]+\s+[A-Za-z]+)', string_data)
name

['Cecilia Velasco', 'il cecilia']

In [23]:
# Extract the first and last name after the word "name". 
name = re.findall(r'([^nameil\s+][A-Za-z]+\s+[A-Za-z]+)', string_data)
name

['Cecilia Velasco']

Extract the first and last name after the word "name"

In [21]:
name = re.findall(r'([^name\s+][A-Za-z]+\s+[A-Za-z]+)', contacts_string_df)

TypeError: expected string or bytes-like object